.user_body{
    margin: 0;
    grid-area: body;
    height: 95vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/4202324/pexels-photo-4202324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .user_welcome_display{
    margin: 0;
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* --------- LEFT SECTION --------- */
  
  .user_welcome{
    height: 85vh;
    width: 60%;
    margin: 2rem;
    background-color: rgb(221, 218, 218, 0.3);
    border-radius: 0.5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user_welcome_body{
    height: 85%;
    width: 90%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
  }

  .widget_container{
    background-color: rgb(221, 218, 218, 0.9);
    border-radius: 0.5rem;
    width: 45%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* --------- RIGHT SECTION --------- */
  
  .user_plot_display{
    height: 85vh;
    width: 30%;
    margin: 2rem;
    background-color: rgb(221, 218, 218, 0.3);
    border-radius: 0.5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
  }

.display_bed{
    height: 75%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.1rem;
    padding: 0.9rem;
  }

  .display_div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
  }

.change_plot_buttons{
    height: 5vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .display_button{
    font-size: x-large;
    margin: 0;
    background-color:rgb(219, 211, 211, 0.30);
    width: 3rem;
    height: 3rem;
    border: 0.01rem solid rgb(139, 137, 137, 0.4);
    border-radius: 0.5rem;
    font-family: 'Inter Tight', sans-serif;
    opacity: 80%;
  } 

  .display_button:hover{
    background-color:rgba(219, 211, 211, 0.95);
  }

  .display_icon{
    height: 85%;
    width: 85%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display_vector{
    height: 40px;
    width: 40px;
  }

  .plant_info_popup{
    background-color: rgba(245, 245, 245, 0.7) !important;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 0.5rem;
    font-family: 'Inter Tight', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0;
  }

  .plant_popup_name{
    font-size: medium;
    margin-left: 1.5rem;
  }

  .plant_popup_subvariety{
    font-size: small;
    font-style: italic;
    margin-left: 2rem;
  }

  /* -------------- BOTH ------------ */

.user_header{
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color:  rgb(219, 211, 211, 0.60);
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .user_title{
    font-size: 4vh;
    font-weight: 300;
  } 

  .new_plot_info{
    width: 100%;
    font-size: 2.5vh;
    font-weight: 300;
    text-align: justify;
  }

  .display_bed_empty{
    height: 70%;
    background-color: rgba(245, 245, 245, 0.73);
    border: 2px solid #dc343a9a;
    border-radius: 0.5rem;
    margin: 1.5rem 2rem;
    padding: 2rem;
  }