.user_body{
    margin: 0;
    grid-area: body;
    height: 95vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/7728882/pexels-photo-7728882.jpeg);
    background-position: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .user_welcome_display{
    margin: 0;
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* --------- LEFT SECTION --------- */
  
  .user_welcome{
    height: 85vh;
    width: 60%;
    margin: 2rem;
    background-color: rgb(221, 218, 218, 0.3);;
    border-radius: 0.5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* --------- RIGHT SECTION --------- */
  
  .user_plot_display{
    height: 85vh;
    width: 30%;
    margin: 2rem;
    background-color: rgb(221, 218, 218, 0.3);
    border-radius: 0.5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
  }

.display_bed{
    height: 75%;
    text-align: center;
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.1rem;
    padding: 0.9rem;
  }

  .display_div{
    border: 0.1rem solid rgb(63, 49, 32, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(85, 91, 85, 0.3);
  }

.change_plot_buttons{
    height: 5vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .display_button{
    font-size: x-large;
    margin: 0;
    background-color:rgb(219, 211, 211, 0.30);
    width: 2rem;
    height: 2rem;
    border: 0.01rem solid rgb(139, 137, 137, 0.4);
    border-radius: 0.5rem;
    font-family: 'Inter Tight', sans-serif;
    opacity: 80%;
  } 

  /* -------------- BOTH ------------ */

.user_header{
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color:  rgb(219, 211, 211, 0.60);
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .user_title{
    font-size: 4vh;
    font-weight: 300;
  } 

  .new_plot_info{
    width: 100%;
    font-size: 2.5vh;
    font-weight: 300;
    text-align: justify;
  }

  .display_bed_empty{
    height: 70%;
    margin: 1.5rem 2rem;
  }