@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(218, 222, 218);
  font-family: 'Inter Tight', sans-serif;
}

.nav{
  height: 3rem;
  background-color:#DC343B;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_title{
  margin-left: 10%;
  color: rgb(218, 222, 218);
  font-size: 2rem;
  font-weight: 300;
}

.nav_links{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav_link, .nav_link:visited, .nav_button{
  display: flex;
  height: 3rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-family: 'Inter Tight', sans-serif; 
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav_link:hover, .nav_button:hover{
  background-color: #ff443381 !important;
}

.nav_link:active{
  background-color: #FF4433;
}

.nav_button{
  background-color: transparent !important;
  border: none;
}

.footer{
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_section{
  margin: 5% 5%;
}

.footer_text{
  margin: 0;
  font-family: 'Times Roman', serif;
  font-size: 0.8rem;
  text-align: center;
}