body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter Tight', sans-serif; 
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.1fr 1fr 0.2fr;
    grid-template-areas: 
      "header"
      "nav"
      "body"
      "footer";
  }
  
  .header{ 
    grid-area: header;
    width: 100vw;
    height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 192, 192, 0.25);
  }

  .nav{
    grid-area: nav;
    height: 6vh;
    background-color:rgb(205, 192, 192, 0.50);
    text-align: end;
    padding-right: 3rem;
  }

  .navLink{
    margin: 0.2rem;
    margin-left: 2rem;
    padding: 0.9rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: 0;
  }

  .navLink:hover {
    background-color: rgb(205, 192, 192, 0.75);
  }

  footer{
    grid-area: footer;
    margin: 0;
  }