body{
  margin: 0;
  padding: 0;
  background-color: #332122;
}

.nav{
  height: 3rem;
  background-color:#DC343B;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav_link, .nav_link:visited, .nav_button{
  display: flex;
  height: 100%;
  width: 6rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Inter Tight', sans-serif; 
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav_link:hover, .nav_button{
  background-color: #ff443381;
}

.nav_link:active{
  background-color: #FF4433;
}

.nav_button{
  background-color: transparent;
  border: none;
}

.footer{
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_section{
  margin: 5% 5%;
}

.footer_text{
  margin: 0;
  font-family: 'Times Roman', serif;
  font-size: 0.8rem;
  text-align: center;
}