.app_body{
  margin: 0;
  grid-area: body;
  height: 95vh;
  width: 100vw;
  background-color: #14452d;
  background-image: url(https://images.pexels.com/photos/4198143/pexels-photo-4198143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
  color: rgb(63, 49, 32);
}

/* --------- LEFT SECTION --------- */
.left_display{
  margin: 0;
  height: 100%;
  width: 50%;
  display: flex;
}

.left_body{
  height: 85vh;
  width: 100%;
  margin: 2rem;
  border-radius: 0.2rem;
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;
  grid-template-areas: 
    "title"
    "body";
}

.left_header{
  grid-area: title;
  width: 100%;
  background-color: rgba(204, 195, 195, 0.6);
  border-radius: 0.2rem 0.2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_title{
  align-self: center;
  margin: 0 10% 0 10%;
  font-size: 5vh;
} 

.shade_bed, .plant_bed{
  grid-area: body;
  background-color: rgb(221, 218, 218, 0.5);
  text-align: center;
  border-radius: 0 0 0.2rem 0.2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0.1rem;
  padding: 0.9rem;
}

.plot_div{
  border: 0.1rem solid rgb(63, 49, 32, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(85, 91, 85, 0.3);
}

.month_select{
  background-color: transparent;
  border: 0.1rem solid rgb(211, 205, 205, 0.7);
  font-family: 'Inter Tight', sans-serif;
  margin: 0 10% 0 10%;
  font-size: 5vh;
  font-weight: bold;
  height: 90%;
  border: none;
}

.month_button{
  margin-right: 6%;
}

/* --------- RIGHT SECTION --------- */

.right_display{
  margin: 0;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.right_body{
  height: 85vh;
  width: 100%;
  margin: 2rem;
  background-color: rgb(221, 218, 218, 0.5);;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 1fr 0.1fr;
  grid-template-areas: 
    "header"
    "list"
    "buttons";
} 

.right_header {
  grid-area: header;
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
  background-color: rgba(204, 195, 195, 0.6);
  border-radius: 0.2rem 0.2rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.right_title{
  font-size: 4vh;
} 

/*--------------SAME----------------*/
.plant_list{
  grid-area: list;
  margin: 0;
  padding: 5% 7%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  letter-spacing: 0.1rem;
}

.shade_list{
  grid-area: list;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  letter-spacing: 0.1rem;
} 
/*-----------------------------------*/

.shade_list > li {
  padding: 5%;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "icon name ";
} 

/* --------- BUTTONS --------- */

.buttons{
  grid-area: buttons;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button {
  margin: 1rem;
  background-color:rgb(219, 211, 211, 0.30);
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-family: 'Inter Tight', sans-serif;
  border: none;
}

.icon_button{
  font-size: large;
  margin: 1rem;
  background-color:rgb(219, 211, 211, 0.30);
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-family: 'Inter Tight', sans-serif;
  border: none;
  opacity: 80%;
}

.edit {
  transform: scale(-1, 1);
}

.button:hover, .icon_button:hover{
  background-color: rgb(219, 211, 211, 0.75);
}

/* --------- ICONS --------- */

.icon{
  grid-area: icon;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin-right: 1rem;
  justify-self: flex-end;
}

.plant_icon{
  grid-area: icon;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.plant_vector{
  width: 60px;
  height: 60px;
}

/* --------- COLORS --------- */

.green1{
  background-color: #a3b18a;
}

.green2{
  background-color: #578162;
} 

.green3{
  background-color: #344e41;
}

.light_green{
  background-color: #88ac80;
}

.dark_green{
  background-color: #14452d;
}

.purple{
  background-color: #493150;
}

.orange{
  background-color: #cf814a;
}

.red{
  background-color: #be433c;
}

.white{
  background-color: rgb(228, 220, 209);
}


